<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kinghiee--粒子波浪</title>
    <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <style>
        html,body{
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        footer{
            height: 50px;
            font-size: 1vw;
            font-weight: lighter;
            text-align: center;
            color:white;
            position: absolute;
            z-index:1;
            left: 0;
            right: 0;
            bottom: 5vh;
        }
        footer img{
            min-width: 0.5vw;
            max-width: 1vw;
        }
        footer a{
            color: white;
        }
    </style>
</head>
<body>
<div id="container">

</div>
<!--尾部-->
<footer >
    <p>Copyright © 2020 Kinghiee. All rights reserved. </p>
    <img src="img/police.png">
    <a href="http://www.beian.miit.gov.cn/" style="text-decoration:none;">豫ICP备19011386号-2</a>
</footer>
<script type="x-shader/x-vertex" id="vertexshader">
           //使用ShaderMaterial类，顶点位置变量position无需声明，顶点着色器可以直接调用
           //modelViewMatrix:模型视图矩阵,内置变量
           //projectionMatrix:投影矩阵属性,内置变量
			attribute float scale;

			void main() {

				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

				gl_PointSize = scale * ( 300.0 / - mvPosition.z );

				gl_Position = projectionMatrix * mvPosition;//第一行和本行代码的目的是坐标系转换。<投影矩阵>*<视图矩阵>*<模型矩阵>*<顶点坐标> 相乘的顺序不能改变

			}

</script>
<script type="x-shader/x-fragment" id="fragmentshader">
           //gl_FragCoord:片元坐标，单位像素
			uniform vec3 color;

			void main() {

				if ( length( gl_PointCoord - vec2( 0.5, 0.5 ) ) > 0.475 ) discard;//不满足条件舍弃片元

				gl_FragColor = vec4( color, 1.0 );

			}

</script>

<script type="module">
    import * as THREE from "./js/three.module.js";
    import {OrbitControls} from "./js/OrbitControls.js";
    import Stats from './js/stats.module.js';
    let renderer,scene,camera,spotLight,status,sprite,count=0;

    action();
    function action() {
        onload();
        run();
    }
    function onload() {
        let container=document.getElementById("container");//获取container

        scene=new THREE.Scene();//创建场景
        scene.fog = new THREE.FogExp2( 0x000000, 0.0008 );//设置雾

        camera=new THREE.PerspectiveCamera(45,window.innerWidth/window.innerHeight,1,10000);
        camera.position.set(500,100,500);//创建相机并设置位置
        camera.lookAt(scene.position);



        //let axe=new THREE.AxesHelper(20);
        // scene.add(axe);//辅助工具，用于创建相机时，相机找到合适的位置

        //let ambientLight=new THREE.AmbientLight();
        //scene.add(ambientLight);

        /*spotLight=new THREE.SpotLight(0xffffff);
        spotLight.position.set(0, 5,20);
        spotLight.intensity=2;
        scene.add(spotLight);
        let spotLightMesh=new THREE.Mesh(new THREE.SphereGeometry(0.125,20,20),new THREE.MeshBasicMaterial());
        spotLight.add(spotLightMesh);*/

        //let gridHelper=new THREE.GridHelper(30,20);
        //scene.add(gridHelper);

        let spriteGeometry=new THREE.BufferGeometry();
        let position=new Float32Array(50*50*3);//创建顶点存储空间
        let scales = new Float32Array( 50*50 );//创建存储尺寸的空间
        let i=0,j=0;
        for(let x=0;x<50;x++)
        {
            for(let y=0;y<50;y++)
            {
               position[i]=x*100-((50*100)/2);
               position[i+1]=0;//
               position[i+2]=y*100-((50*100)/2);
               scales[ j ] = 1;
               i+=3;
               j ++;
            }
        }
        spriteGeometry.addAttribute('position',new THREE.BufferAttribute(position,3));//把数据传入顶点着色器
        spriteGeometry.addAttribute('scale',new THREE.BufferAttribute(scales,1));//

        let spriteMaterial=new THREE.ShaderMaterial({//自定义着色器
            uniforms:{color: { value: new THREE.Color( 0x00CED1 ) },},
            vertexShader:document.getElementById("vertexshader").textContent,//顶点着色器属性vertexShader的属性值是顶点着色器代码字符串
            fragmentShader:document.getElementById("fragmentshader").textContent,//片元着色器属性fragmentShader的属性值是片元着色器代码字符串。

        });

        sprite=new THREE.Points(spriteGeometry,spriteMaterial);
        scene.add(sprite);

        renderer=new THREE.WebGLRenderer({antialias:true});
        renderer.setPixelRatio(window.devicePixelRatio);
        //renderer.shadowMap.enabled=true;//开启阴影
        renderer.gammaInput=true;
        renderer.gammaOutput=true;//inear转gamma
        //renderer.setClearColor(0XEEEEEE);
        //renderer.shadowMap.type=THREE.PCFSoftShadowMap;
        renderer.setSize(window.innerWidth,window.innerHeight);
        container.appendChild(renderer.domElement);

        status=new Stats();//创建频率显示
        container.appendChild(status.dom);//频率挂到左上角
        let contorl=new OrbitControls(camera,renderer.domElement);//添加鼠标滚动缩放，旋转对象
        window.addEventListener('resize',onResize,false);//浏览器大小改变监听
    }
    function onResize() {
        camera.aspect=window.innerWidth/window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth,window.innerHeight);
    }

    function run() {
        requestAnimationFrame(run);
        let positions = sprite.geometry.attributes.position.array;
        let scales = sprite.geometry.attributes.scale.array;//BufferGeometry几何体对象具有.attributes属性，BufferGeometry.attributes具有顶点位置、顶点法向量、顶点uv坐标等属性，对应着色器中相应的attribute变量。

        let i = 0, j = 0;

        for ( let ix = 0; ix < 50; ix ++ ) {

            for ( let iy = 0; iy < 50; iy ++ ) {

                positions[ i + 1 ] = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) +
                    ( Math.sin( ( iy + count ) * 0.5 ) * 50 );//y轴上面呈现波浪形

                scales[ j ] = ( Math.sin( ( ix + count ) * 0.3 ) + 1 ) * 8 +
                    ( Math.sin( ( iy + count ) * 0.5 ) + 1 ) * 8;

                i += 3;
                j ++;

            }

        }

        sprite.geometry.attributes.position.needsUpdate = true;//通知顶点位置更新
        sprite.geometry.attributes.scale.needsUpdate = true;

        renderer.render(scene,camera);
        status.update();
        count += 0.1;
    }


</script>
</body>
</html>